body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dbedff;
  color: #000;
}
.center title{
text-align: center;
margin-left:100px;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

button {
  padding: 10px 15px;
  border: 1px solid #777;
  border-radius: 5px;
  background-color: #ddd;
  font-size: 14px;
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.center {
  align-self: center;
}

.todo-list {
  padding:40px;
}

.todo-list li {
  padding: 20px;
  border-bottom: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.todo-list li div {
  margin: 10px;
}

.todo-list li button {
  padding: 5dpx 15px;
  margin-left: 20px;
  opacity: 1;
}

.isChecked {
  opacity: 0.5;
  text-decoration: line-through;
}